.Home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hbox{
    background-image: linear-gradient(to bottom, #f1ccf3, #d1dbff, #afeaff, #a4f5fd, #bafbe1);
    border: 2px solid #e3e3e3;
    border-radius: 1.5rem;
    width: 24rem;
}
.hbox h1{
   margin: 1rem 0;
}
.hbox h2{
    padding-bottom: 1rem;
}
.hbox ol{
    list-style: none;
    font-family: sans-serif;
    line-height: 1.5rem;
}
.hbox h3{
    text-align: left;
    padding: 1rem;
}
.hbox p{
    text-align: left;
    padding: 0 0 1rem 2rem;
    font-size: 1.2rem;
}
